{% extends "base/base.html" %}

{% block content %}

<header class="container-fluid d-flex justify-content-between align-items-center py-3 px-3">
    <div>
        <a class="text-dark text-decoration-none fs-4" href="{% url 'dashboard' %}">StressTrack</a>
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <a class="text-dark text-decoration-none fs-6 py-2 px-4 border border-2 border-dark rounded-4"
            href="{% url 'logout' %}">Cerrar Sesión</a>
    </div>
</header>

<div class="container-fluid main-content">

    <div class="row h-100">
        <div class="h-100 d-flex flex-column justify-content-between col-2">
            <ul class="list-unstyled py-3">
                <li class="py-3 px-1"><a class="text-decoration-none links" href="{% url 'dashboard' %}"><i
                            class="fa-solid fa-table mx-2"></i> Panel</a></li>
                <li class="py-3 px-1"><a class="text-decoration-none links" href="{% url 'student_tests' %}"><i
                            class="fa-regular fa-pen-to-square mx-2"></i> Test</a></li>
                <li class="py-3 px-1"><a class="text-decoration-none links" href="{% url 'dash_task' %}"><i
                            class="fa-solid fa-list-check mx-2"></i> Tareas</a></li>
            </ul>
            <ul class="list-unstyled py-3">
                <li class="py-3 px-1"><a class="text-decoration-none links" href="#"><i
                            class="fa-solid fa-gear mx-2"></i> Configuración</a></li>
            </ul>
        </div>
        <div class="col-10 p-2">
            <div class="container p-2 rounded-4">
                <h1>Tests</h1>
            </div>
            <div class="scrollable-container">
                {% for course in courses %}
                    <div class="container py-1">
                        <label class="text-grisillo fw-bold my-2">{{ course.name }}</label>
                        {% if course.stress_tests.exists %}
                            {% for test in tests %}
                                <div class="container py-1">
                                    <label class="text-grisillo fw-bold my-2">{{ test.course.name }}</label>
                                    <div class="container border p-3 my-1 rounded-4">
                                        <div class="row">
                                            <div class="col-10">
                                                <i class="fa-regular fa-clipboard me-3"></i>{{ test.title }}
                                            </div>
                                            <div class="col-2 text-center">
                                                {% if test.has_taken > 0 %}
                                                    <div class="ms-4 p-1 d-inline rounded-4 fs-7">
                                                        <span class="text-muted">Test completado</span>
                                                    </div>
                                                {% else %}
                                                    <div class="ms-4 p-1 d-inline rounded-4 fs-7">
                                                        <a href="{% url 'test_view' test.id %}" class="text-decoration-none text-dark">Realizar Test</a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}                    
                        {% else %}
                            <div class="alert alert-info mt-3" role="alert">
                                No tienes tests asignados por el momento
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    <div class="alert alert-info mt-3" role="alert">
                        No estás asignado a un curso por el momento
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}
